@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  background-image: url('https://cdn.pixabay.com/photo/2017/01/24/03/53/plant-2004483_1280.jpg'); 
  background-size: cover;
  background-position: center center;
  max-width: 980px;
  margin: auto;
  height: 100vh;
  font-family: 'Concert One', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
}

.section-left { 
  position: absolute; 
  left: 0; 
  top: 0; 
  width: 50%;
  text-align: center; 
 }
           
.section-right { 
  position: absolute; 
  right: 0; 
  top: 0; 
  width: 50%; } 

 .year {
  font-size: 40px;
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
} 

h1 {
  font-size: 35px;
  margin: 10px;
}

 .time, .time2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
} 

#days2, #hours2, #minutes2, #seconds2 {
  margin: 5px;
}

.time h2 {
  margin: 0 0 5px;
}

@media (max-width: 500px) {
  h2 {
    font-size: 60px;
  }

  .time {
    margin: 5px;
  }

  .time h2 {
    font-size: 12px;
    margin: 0;
  }

  .time small {
    font-size: 15px;
  }
} 

 #slides{
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; 
  text-align: center;
  margin: auto;
	position: relative;
	padding: 0px;
  list-style-type: none;
  z-index: 999999;
}
 
.slide{
  border-radius: 15px;
  position: absolute;
  text-align: center; 
	left: 50px;
  top: 1px;
	width: 80%;
	height: 80%;
	opacity: 0;
	z-index: 999999;
 
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
 
.showing{
  border-radius:15px;
	opacity: 1;
	z-index: 999999;
}
 
img {
border-radius:15px;
width:100%;
height:auto;
margin:15px;
}